<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include("./partials/head") %>
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
  <%- include("./partials/nav") %>

  <main class="login">
    <div class="login__container">
      <h1 class="login__title">Login</h1>
      <% if (typeof error !== 'undefined') { %>
  <div class="alert alert-danger"><%= error %></div>
<% } %>


      <form action="/user/login" method="post" class="login__form">
        <label for="email" class="login__label">Email</label>
        <input type="email" name="email" id="email" required placeholder="Enter your email" class="login__input" />

        <label for="password" class="login__label">Password</label>
        <input type="password" name="password" id="password" required placeholder="Enter your password" class="login__input" />

       

        <button type="submit" class="login__button">Login</button>
      </form>

      <p class="login__register">
        Don't have an account?
        <a href="/signup">Register here</a>
      </p>
    </div>
  </main>

  <%- include("./partials/footer") %>
  <%- include("./partials/scripts") %>
  

</body>
</html>
